{% extends 'base.html' %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				<div style="border: 1px solid #ccc; padding: 20px 30px; box-shadow: 0px 1px 2px #bbb; border-radius: 5px;">
					
					{% if error %}
						<div class="alert alert-warning" role="alert">
							{{error}}
							</div>
					{% endif %}
					<form action="/login/" method="POST" class="form">
						{% csrf_token %}
						<h5>Enter username</h5>
						<div class="form-group">
							
							<input class="form-control"  type="text" name="username" placeholder="Username" >
						</div>
						<h5>Enter password</h5>
						<div class="form-group">
							
							<input  class="form-control" type="password" name="password" placeholder="Password">
						</div>
						
						<button class="btn btn-primary" type="submit">Login</button>
						
					</form>
				</div>
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
		
	</div>
{% endblock %}