{% extends 'base.html' %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				<div style="border: 1px solid #ccc; padding: 20px 30px; box-shadow: 0px 1px 2px #bbb; border-radius: 5px;">
					
					{% if error %}
						<div class="alert alert-warning" role="alert">
							{{error}}
						</div>
					{% endif %}
					<form action="/signup/" method="POST">
						{% csrf_token %}
						<h5>Enter Username:</h5>
						<div class="form-group">
							
						<input class="form-control" type="text" name="username" placeholder="Username" >
						</div>
						<h5>Enter Email: </h5>
						<div class="form-group">
							
						<input class="form-control" type="email" name="Email" placeholder="Email">
						</div>
						<h5>Enter password:</h5>
						<div class="form-group">
							
						<input class="form-control" type="password" name="password" placeholder="Password">
						</div>
						<h5>Re-enter password:</h5>
						<div class="form-group">
							
						<input class="form-control" type="password" name="Re-type password" placeholder="Re-type same password">
						</div>
						<button class="btn btn-primary" type="submit">Create Account</button>
						
					</form>
				</div>
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
		
	</div>
{% endblock %}